.assignment {
  width: 100%;
  background: #262626;
  border: 1px solid #333333;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.assignment p {
  font-size: 14px;
  line-height: 19px;
  color: #f2f2f2;
  margin-right: auto;
}

p.textCompleted {
  color: #808080;
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #4ea8de;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #5e60ce;
}

.deleteButton {
  background: none;
  border: none;
  color: #808080;
}

.dueDateOnTime{
  background-color:  #91A3B0;
  border-radius: 1rem;
  padding: 0.3rem 1.3rem;
}

.dueDateTomorrow{
  background-color: #900D09;
  border-radius: 1rem;
  padding: 0.3rem 1.3rem;
}

.dueDateToday{
  background-color: #8b0000;
  border-radius: 1rem;
  padding: 0.3rem 1.3rem;
}

.dueDatePast{
  background-color: #4E0707;
  border-radius: 1rem;
  padding: 0.3rem 1.3rem;
}